.login-form
  h1.text-center
    = I18n.t("sign_up")
  = form_for(resource, as: resource_name, url: registration_path(resource_name),html:{ id:"sign_up"}) do |f|
    = devise_error_messages!
    .form-group.field
      = f.label :first_name
      br
      = f.text_field :first_name, autofocus: true, autocomplete: "first_name",class:"form-control"
    .form-group.field
      = f.label :last_name
      br
      = f.text_field :last_name, autofocus: true, autocomplete: "last_name",class:"form-control"
    .form-group.field
      = f.label :email
      br
      = f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control"
    .form-group.field
      = f.label :password
      - if @minimum_password_length
        em
          | (
          = @minimum_password_length
          |  characters minimum)
      br
      = f.password_field :password, autocomplete: "off",class:"form-control"
    .form-group.field
      = f.label :password_confirmation
      br
      = f.password_field :password_confirmation, autocomplete: "off",class:"form-control"
    .actions
      = f.submit I18n.t("sign_up"),class:"btn btn-primary btn-block"
    .clearfix
        = render "devise/shared/links"
