h1
  | Notifications
table.table.table-bordered
  tr
    td = I18n.t("table.notification.no_")
    td = I18n.t("table.notification.created_at")
    td = I18n.t("table.notification.content")
    td = I18n.t("table.notification.people_involved")
    td = I18n.t("table.notification.delete")
    td = I18n.t("table.notification.unfollow")
  - @notifications.each_with_index do |notification,index|

    tr
      td
        = ((@page - 1) * @per_page) + (index + 1)
      td
        = notification.created_at.strftime("%d/%m/%Y")
      td
        = notification.content
      td
        = notification.objecter.first_name
      td
        = link_to(I18n.t("table.notification.delete"))
        / ,admin_image_path(image),method: :delete, data: { confirm: I18n.t("table.image.confirm.delete")})
      td
        = link_to(I18n.t("table.notification.unfollow"))

  = paginate @notifications
