.sidebar-section.about-author.center-text
  .author-image
    = image_tag "/assets/charlie.png", class: "profile"

  h4.author-name
    b.light-color
      | Cristine Smith
  p
    | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque dolore magnam aliquam quaerat voluptatem.
  .signature-image
    = image_tag "/assets/sign.png"
  a.read-more-link[href="#"]
    b
      | READ MORE
