.row
  .col-sm-8
    .well
      = form_for @status, html: {class: "form-horizontal"} do |f|
        h4
          = I18n.t("title.user.what_new")
        .form-group.padding
          = f.text_area(:content, class: "form-control",placeholder: I18n.t("title.user.update_your_status"))
        button.btn.btn-primary.pull-right[type="submit"]
                = I18n.t("title.user.post")
        ul.list-inline
          li
            a[href=""]
              i.glyphicon.glyphicon-upload
          li
            a[href=""]
              i.glyphicon.glyphicon-camera
          li
            a[href=""]
              i.glyphicon.glyphicon-map-marker
    - @histories.each do |item|
      - if item.itemable_type == "Album"
        .panel.panel-default
          .well
            p
              img[src="/assets/user.png" height="28px" width="28px"]
              - image = item.itemable.images.first
              dt.text-capitalize
                = " " + item.itemable.user.first_name + " "
                = "has created a new album"
              p
                = item.itemable.created_at.strftime("%d/%M/%Y %H hours")
              i.fa.fa-globe
            .panel-thumbnail.image
              / img.img-responsive[src="/assets/bg_4.jpg"]
              = image_tag image.image.url,class: "img-responsive"
              h2
                - if((item.itemable.images.count - 1) == 0 )
                  = " "
                - else
                  = link_to "+" + (item.itemable.images.count - 1).to_s, album_path(item.itemable)
            .panel-body
              p.lead
                = item.itemable.title
            = image_tag "heart.png", class: "img-heart"
            = " " + item.itemable.likes.count.to_s
          .btn-group
            = link_to(I18n.t("title.user.share"),"",class: "btn-timeline btn-primary pull-right")
            = link_to(I18n.t("title.user.comment"),"",class: "btn-timeline btn-primary pull-right")
            = link_to(like_album_path(item.itemable,show: "timeline_album"), method: :like, class: "btn-timeline btn-primary pull-right")
              i.glyphicon.glyphicon-thumbs-up
              = I18n.t("title.user.like")



      - elsif item.itemable_type == "Image"
        .panel.panel-default.image
          .well
            p
              img[src="/assets/user.png" height="28px" width="28px"]
              dt.text-capitalize
                = " " + item.itemable.user.first_name + " "
                = "has created a new image"
              p
                = item.itemable.created_at.strftime("%d/%M/%Y %H hours")
              i.fa.fa-globe
            .panel-thumbnail
              / img.img-responsive[src="/assets/bg_4.jpg"]
              = image_tag item.itemable.image.url,class: "img-responsive"
            .panel-body
              p.lead
                = item.itemable.title
            = image_tag "heart.png", class: "img-heart"
            = " " + item.itemable.likes.count.to_s
          .btn-group
            = link_to(I18n.t("title.user.share"),"",class: "btn-timeline btn-primary pull-right")

            = link_to(I18n.t("title.user.comment"),"",class: "btn-timeline btn-primary pull-right")

            = link_to(like_image_path(item.itemable,show: "timeline_image"), method: :like, class: "btn-timeline btn-primary pull-right")
              i.glyphicon.glyphicon-thumbs-up
              = I18n.t("title.user.like")
      - else
        .panel.panel-default
          .well
            p
              img[src="/assets/user.png" height="28px" width="28px"]
              dt.text-capitalize
                = " " + item.itemable.user.first_name + " "
                = "has created a new status"
              p
                = item.itemable.created_at.strftime("%d/%M/%Y %H hours")
              i.fa.fa-globe
            .panel-body
              p.lead
                = item.itemable.content
            = image_tag "heart.png", class: "img-heart"
            = " " + item.itemable.likes.count.to_s
          .btn-group
            = link_to(I18n.t("title.user.share"),"",class: "btn-timeline btn-primary pull-right")
            = link_to(I18n.t("title.user.comment"),"",class: "btn-timeline btn-primary pull-right")
            = link_to(like_status_path(item.itemable,show: "timeline_status"), method: :like, class: "btn-timeline btn-primary pull-right")
              i.glyphicon.glyphicon-thumbs-up
              = I18n.t("title.user.like")


    = paginate @histories

  .col-sm-4
    .panel.panel-default
      .panel-heading
        a.pull-right[href="#"]
          = I18n.t("title.user.view_all")
        h4
          = I18n.t("title.user.news")
      .panel-body
        img.img-circle.pull-right[src="/assets/150x150.gif"]
        a[href="#"]
          | Journalist
        .clearfix
        hr
        p
          | Today I miss
          code
            | Thao Vi


        hr
        form
          .input-group
            .input-group-btn
            input.form-control[placeholder="Add a comment.." type="text"]
