.login-form
  h1
    = I18n.t("user.forgot_password")
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!
    .form-group.field
      = f.label :email
      br
      = f.email_field :email, autofocus: true,placeholder:"Your Email !!!",autocomplete: "email", class:"form-control"
    .actions
      = f.submit "Send email",class:"btn btn-primary btn-block"
    .clearfix
        = render "devise/shared/links"
