.span9
    ul.thumbnails.listing-products
      - images.each do |image|
        li.span3
          .product-box
            span.sale_tag
            = link_to image_path(image)
              = image_tag image.image.url(:thumb)
            br
            a.title[href="#"]
              = image.title
            br
            a.category[href="#"]
              = image.description
            p.price
              = image.user.first_name
            = link_to image.likes.count,"", class: "btn btn-default"
            - if params[:action] == "public_images"
              = link_to like_image_path(image, show: "public_images"),method: :like, class: "btn btn-default"
                i.glyphicon.glyphicon-heart
            - else
              = link_to like_image_path(image),method: :like, class: "btn btn-default"
                i.glyphicon.glyphicon-heart

            - if image.user.id == current_user.id
              = link_to edit_image_path(image),class: "btn btn-default"
                  i.glyphicon.glyphicon-pencil
              = link_to image_path(image),method: :delete,data: { confirm: "Are you sure ?"},class: "btn btn-default"
                  i.glyphicon.glyphicon-remove

