.span9
  ul.thumbnails.listing-products
    - albums.each do |album|
      li.span3
        .product-box
          span.sale_tag
          = link_to album_path(album)
            - if album.images.first.present?
              - image = album.images.first
              = image_tag(image.image.url(:thumb))
          br
          a.title[href="#"]
            = album.title
          br
          a.category[href="#"]
            = album.description
          p.price
            = I18n.t("title.album.total_images")
            = album.images.count
          p.price
              = album.user.first_name

          = link_to album.likes.count, "", class: "btn btn-default"
          - if params[:action] == "public_albums"
            = link_to like_album_path(album, show: "public_albums"),method: :like, class: "btn btn-default"
              i.glyphicon.glyphicon-heart
            - if album.follows.where(user_id:current_user.id).present?
              = link_to follow_album_path(album), method: :follow_album, class: "btn btn-default"
                i.glyphicon.glyphicon-eye-close
            -else
              = link_to follow_album_path(album), method: :follow_album, class: "btn btn-default"
                i.glyphicon.glyphicon-eye-open
          - else
            = link_to like_album_path(album, show: "my_albums"),method: :like, class: "btn btn-default"
                i.glyphicon.glyphicon-heart
          - if album.user.id == current_user.id
            = link_to edit_album_path(album), class: "btn btn-default"
                i.glyphicon.glyphicon-pencil
            = link_to album_path(album),method: :delete,data: { confirm: I18n.t("table.album.confirm.delete")}, class: "btn btn-default"
                i.glyphicon.glyphicon-remove
