= form_for @album, html: { multipart: true } do |f|
  .form-group.col-sm-8
    = f.label(:title)
    = f.text_field(:title, class: "form-control")
  .form-group.col-sm-8
    = f.label(:description)
    = f.text_area(:description, class: "form-control")
  - if album.new_record?
    .form-group.col-sm-8
      = f.label(:image)
      = f.file_field(:image, class: "form-control", multiple:true)
  .form-group.col-sm-8
    = f.label(:is_private)
    br
    = f.check_box(:is_private)
  button.btn.btn-primary.btn-lg[type="submit"]
    = I18n.t("title.album.button.save")
