h1
  = I18n.t("title.album.list")

.btn.btn-default[type="button"]
  = link_to I18n.t("title.album.button.create"), new_user_album_path
hr
table.table.table-bordered
  tr
    td = I18n.t("table.album.no_")
    td = I18n.t("table.album.title")
    td = I18n.t("table.album.description")
    td = I18n.t("table.album.private")
    td #
    td #
    td #
  - @albums.each do |album|
    tr
      td
        = album.id
      td
        = album.title
      td
        = album.description
      td
        - if album.is_private
          = "Private"
        - else
          = "Public"
      td
        =link_to I18n.t("table.album.view_images"), album_images_path(album)
      td
        =link_to I18n.t("table.album.edit"),edit_user_album_path(current_user.id,album.id)
      td
        = link_to I18n.t("table.album.delete"), [current_user,album], method: :delete, data: { confirm:I18n.t("table.album.confirm.delete") }
= paginate @albums

