h1
  = I18n.t("title.album.my_albums")
hr
.btn.btn-default[type="button"]
  = link_to I18n.t("title.album.button.create"), new_album_path
hr
= render "shared/show_albums", albums: @albums
= paginate @albums

