h1
  = I18n.t("title.album.show")

h3
  = I18n.t("table.album.title")
  = @album.title
h3
  = I18n.t("table.album.description")
  = @album.description

hr
  = render "shared/show_images", images: @images
= paginate @images


