.login-form
  h1.text-center
    = I18n.t("log_in")
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-group.field
      = f.label :email
      br
      = f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control"
    .form-group.field
      = f.label :password
      br
      = f.password_field :password, autocomplete: "off",class:"form-control"
    - if devise_mapping.rememberable?
    .clearfix
      label.pull-left.checkbox-inline
        .form-group.field
          = f.check_box :remember_me
          b
          = f.label :remember_me
    .error
       - if flash[:notice]
          = flash[:notice]
    .form-group.actions
      = f.submit "Log in",id:"commit",class:"btn btn-primary btn-block"
    = render "devise/shared/links"

