h1
  = I18n.t("title.image.list")

hr
table.table.table-bordered
  tr
    td = I18n.t("table.image.no_")
    td = I18n.t("table.image.user_name")
    td = I18n.t("table.image.title")
    td = I18n.t("table.image.description")
    td #
    td = I18n.t("table.image.private")
    td #
    td #
  - @images.each_with_index do |image,index|

    tr
      td
        = ((@page - 1) * @per_page) + (index + 1)
      td
        = image.user.first_name
      td
        = image.title
      td
        = image.description
      td
        = image_tag image.image.url(:thumb)
      td
        - if image.is_private
          = "Private"
        - else
          = "Public"
      td
        = link_to I18n.t("table.image.edit"), edit_admin_image_path(image)
      td
        = link_to(I18n.t("table.image.delete"),admin_image_path(image),method: :delete, data: { confirm: I18n.t("table.image.confirm.delete")})

  = paginate @images

