h1
  = I18n.t("title.user.list")
.social-line
    .btn.btn-simple.btn-just-icon
      i.fa.fa-facebook-square
    .btn.btn-simple.btn-just-icon
      i.fa.fa-twitter
    .btn.btn-simple.btn-just-icon
      i.fa.fa-google-plus

table.table.table-bordered
  tr
    td = I18n.t("table.user.no_")
    td = I18n.t("table.user.first_name")
    td = I18n.t("table.user.last_name")
    td = I18n.t("table.user.email")
    td = I18n.t("table.user.phone")
    td = I18n.t("table.user.role")
    td = I18n.t("table.user.status")
    td #
    td #
  - @users.each_with_index do |user, index|
    tr
      td
        = ((@page - 1) * @per_page) + (index + 1)
      td

        |
        = user.first_name
      td
        |
        = user.last_name
      td
        |
        = user.email
      td
        |
        = user.phone
      td
        - if user.is_admin
          = I18n.t("admin.table.user.is_admin")
        - else
          = " "

      td
        - if user.is_active
          = I18n.t("admin.table.user.active")
        - else
          = I18n.t("admin.table.user.disable_user")
      td
        - if user.is_active
          = link_to I18n.t("admin.table.user.disable_user"),disable_admin_user_path(user), method: :disable_user, data: { confirm: I18n.t("table.user.confirm.disable_user") }
        - else
          = link_to I18n.t("admin.table.user.enable_user"),disable_admin_user_path(user), method: :disable_user, data: { confirm: I18n.t("table.user.confirm.enable_user") }

      td
        = link_to "X", admin_user_path(user), method: :delete, data: { confirm:I18n.t("table.user.confirm.delete_user")}


  = paginate @users


