h1
  = I18n.t("title.image.edit")
= form_for @image, html: { id:"edit_image", multipart: true } do |f|
  .form-group.col-sm-8
    = f.label(:title)
    = f.text_field(:title, class: "form-control")
  .form-group.col-sm-8
    = f.label(:description)
    = f.text_area(:description, class: "form-control")
  .form-group.col-sm-8
    = f.label(:is_private)
    br
    = f.check_box(:is_private)
  button.btn.btn-primary.btn-lg[type="submit"]
    = I18n.t("title.album.button.save")

