h1
  = I18n.t("title.image.list")

hr
table.table.table-bordered
  tr
    td = I18n.t("table.image.no_")
    td = I18n.t("table.image.title")
    td = I18n.t("table.image.description")
    td #
    td = I18n.t("table.image.private")
    td #
    td #
  - @images.each do |image|
    tr
      td
        = image.id
      td
        = image.title
      td
        = image.description
      td
        = image_tag image.image.url(:thumb)
      td
        - if image.is_private
          = I18n.t("image.private")
        - else
          = I18n.t("image.public")
      td
        = link_to I18n.t("table.image.edit"), edit_image_path(image)
      td
        = link_to(I18n.t("table.image.delete"),image_path(image),method: :delete, data: { confirm: I18n.t("table.image.confirm.delete")})
  = paginate @images
