h1
  = I18n.t("title.image.my_images")
hr
= form_tag images_path, multipart: true, id: "add_image" do |f|
  .form-group.col-sm-8
    = hidden_field_tag 'user_id',current_user.id
    = file_field_tag(:image,class: "form-control")
  button.btn.btn-primary.btn-lg[type="submit"]
    = I18n.t("title.image.button.save")

hr
= render "shared/show_images", images: @images, action: "my_images"
= paginate @images
