.col-sm-6
  = image_tag(@image.image.url, class: "img-thumbnail")

  hr
  - if @image.user.id == current_user.id
    = link_to edit_image_path(@image), class: "btn btn-default"
                  i.glyphicon.glyphicon-pencil
    = link_to image_path(@image),method: :delete,data: { confirm: I18n.t("table.image.confirm.delete")}, class: "btn btn-default"
                  i.glyphicon.glyphicon-remove
.col-sm-6
  h2
    = @image.title
  = @image.description
  .text-uppercase
    h4
      = @image.user.first_name
  - if @image.user.id != current_user.id
    - if @check_follow
      = link_to 'UnFollow',follow_user_path(current_user,object_id: @image.user,type:"user"),method: :follow_user, class: 'btn btn-green button'
    - else
      = link_to 'Follow',follow_user_path(current_user,object_id: @image.user,type:"user"),method: :follow_user, class: 'btn btn-green button'


