doctype html
html lang="en"
  head
    meta content=("text/html; charset=UTF-8") http-equiv="content-type" /
    meta charset="utf-8" /
    title = I18n.t("title.web")
    meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" /
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  body
    .wrapper
      .box
        .row.row-offcanvas.row-offcanvas-left
          /! sidebar
          #sidebar.column.col-sm-2.col-xs-1.sidebar-offcanvas
            ul.nav.nav-list.below
              li
                a.visible-xs.text-center data-toggle="offcanvas" href="#"
                  i.glyphicon.glyphicon-chevron-right
            ul#lg-menu.nav.hidden-xs
              li.actnav.nav-list
                h4
                  i.glyphicon.glyphicon-list-alt
                    = link_to I18n.t("admin.profile")
              li
                h4
                  .glyphicon.glyphicon-list-alt
                    = link_to I18n.t("admin.images"), admin_images_path

              li
                  h4
                    .glyphicon.glyphicon-list-alt
                    = link_to I18n.t("admin.user"),admin_users_path
              li
                  h4
                    = link_to I18n.t("log_out"), destroy_user_session_path, method: :delete
            ul#sidebar-footer.list-unstyled.hidden-xs
              li
                h3 = I18n.t("admin.title")
                i.glyphicon.glyphicon-heart-empty
                = I18n.t("admin.director")
            /! tiny only nav
            ul#xs-menu.nav.visible-xs
              li
                a.text-center href="#featured"
                  i.glyphicon.glyphicon-list-alt
              li
                a.text-center href="#stories"
                  i.glyphicon.glyphicon-list
              li
                a.text-center href="#"
                  i.glyphicon.glyphicon-paperclip
              li
                a.text-center href="#"
                  i.glyphicon.glyphicon-refresh
          /! /sidebar
          /! main right col

          #main.column.col-sm-10.col-xs-11
            .panel-body
              = yield

    /! post modal

    javascript:
      $(document).ready(function() {
        $('[data-toggle=offcanvas]').click(function() {
        $(this).toggleClass('visible-xs text-center');
        $(this).find('i').toggleClass('glyphicon-chevron-right glyphicon-chevron-left');
        $('.row-offcanvas').toggleClass('active');
        $('#lg-menu').toggleClass('hidden-xs').toggleClass('visible-xs');
        $('#xs-menu').toggleClass('visible-xs').toggleClass('hidden-xs');
        $('#btnShow').toggle();
        });
      });
